<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controlador.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpleadoServlet</servlet-name>
        <servlet-class>Controlador.EmpleadoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarEmpleadoServlet</servlet-name>
        <servlet-class>Controlador.EliminarEmpleadoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarEmpleado</servlet-name>
        <servlet-class>Controlador.AgregarEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusesServlet</servlet-name>
        <servlet-class>Controlador.BusesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarBusServlet</servlet-name>
        <servlet-class>Controlador.AgregarBusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPrincipal</servlet-name>
        <servlet-class>Controlador.ServletPrincipal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViajeServlet</servlet-name>
        <servlet-class>Controlador.ViajeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteServlet</servlet-name>
        <servlet-class>Controlador.ClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>Controlador.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VentasServlet</servlet-name>
        <servlet-class>Controlador.VentasServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpleadoServlet</servlet-name>
        <url-pattern>/EmpleadoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarEmpleadoServlet</servlet-name>
        <url-pattern>/EliminarEmpleadoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarEmpleado</servlet-name>
        <url-pattern>/AgregarEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusesServlet</servlet-name>
        <url-pattern>/BusesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarBusServlet</servlet-name>
        <url-pattern>/AgregarBusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPrincipal</servlet-name>
        <url-pattern>/ServletPrincipal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViajeServlet</servlet-name>
        <url-pattern>/ViajeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteServlet</servlet-name>
        <url-pattern>/ClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VentasServlet</servlet-name>
        <url-pattern>/VentasServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
